@import url('https://v1.fontapi.ir/css/SFProDisplay');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @font-face {
    font-family: SF Pro Display;
    src: url("./fonts/SFPRODISPLAYREGULAR.OTF");
    font-weight: normal;
}*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
body {
    background: linear-gradient(90deg, #5936B4 0%, #362A84 103.55%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
}
h1.location {
    font-family: 'SF Pro Display', 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    /* identical to box height, or 121% */

    text-align: center;
    letter-spacing: 0.374px;

    /* Label/Dark/Primary */

    color: #FFFFFF;
    
    margin-top: 100px;
    margin-bottom: 0px;
}
h2.currentTemp {
    font-family: 'SF Pro Display', 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 96px;
    line-height: 70px;
    /* identical to box height, or 73% */

    text-align: center;
    letter-spacing: 0.374px;

    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3.description {
    font-family: 'SF Pro Display', 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-align: center;
    letter-spacing: 0.38px;

    /* Label/Dark/Secondary */

    color: rgba(235, 235, 245, 0.6);
    margin-top: 20px;
    margin-bottom: 5px;
}
h3.highLow {
    font-family: 'SF Pro Display', 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-align: center;
    letter-spacing: 0.38px;

    /* Label/Dark/Secondary */

    color: #FFFFFF;
    margin-top: 0px;
}
div.mainMenu {
    position: absolute;
    top: auto;
    bottom: 0px;
    background: linear-gradient(90deg, #427BD1 1.95%, #C159EC 101.56%);
    width: 100%;
    height: auto;
    opacity: 0.85;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
button.toggle {
    opacity: 1;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'SF Pro Display', 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 120% */

    text-align: center;
    letter-spacing: 0.38px;

    /* Label/Dark/Secondary */

    color: rgba(235, 235, 245, 0.6);
    border: none;
    background: none;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}
h4.switch {
    opacity: 1;

}
div.scrollable {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    opacity: 1;
    margin-bottom: 20px;
}
div.block {
    width: 60px;
    height: auto;
    border-radius: 50px;
    background-color: #48319D;
    margin-right: 15px;
}
div.n1 {
    border: 2px solid #40CBD8;
    margin-left: 15px;
}
h5.time {
    /* Default/Bold/Subheadline */

font-family: 'SF Pro Display', 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

letter-spacing: -0.5px;

/* Label Color/Dark/Primary */

color: #FFFFFF;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}
h5.temp {
    /* Default/Regular/Title3 */
    margin-top: 10px;
    margin-bottom: 10px;
font-family: 'SF Pro Display', 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
/* identical to box height, or 120% */

letter-spacing: 0.38px;

color: #FFFFFF;
}
h4.switch {
    font-family: 'SF Pro Display', 'Roboto';
    margin: 0px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
/* identical to box height, or 120% */

letter-spacing: 0.38px;

color: #FFFFFF;
}
button.Expand {
    font-family: 'SF Pro Display','Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #FFFFFF;
    background: #1F1D47;
    opacity: 0.5;
    width: 60%;
    margin-left: 20%;
    border-radius: 50px;
}
img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}